.green{
    width: 200px;
    height: 200px;
    border: 1px solid black;
    background-color: green;
    
}
.red{
    width: 200px;
    height: 200px;
    border: 1px solid black;
    background-color: red;
}